{% extends 'base.html' %}

{% block head %}
    <title>Post List</title>
{% endblock head %}

{% block body %}

    {% for post in object_list %}
        <h2>{{ post.author }}</h2>
        <p>{{ post.email }}</p>
        <p>{{ post.date }}</p>
        <h4>{{ post.content }}</h4>
        <br>
        <a href="/post_update/{{ post.id }}"><button class='btn btn-primary'>Edit</button></a>
        <a href="/post_delete/{{ post.id }}"><button class='btn btn-danger'>Delete</button></a>
        <br><br><br><br>
    {% endfor %}    

{% endblock body %}